// sass --watch delete-confirmation.scss:delete-confirmation.min.css --style compressed


:root{
    font-size: 16px;
}
.delete-confirmation-page{

    h1{
        text-align: center;
        margin-bottom: 1em;
    }

    div.card{
        padding: 60px 20px;
    }
    p, form{
        font-size: 1.12rem;
        text-align: left;
        width: 100%;
        max-width: 43em;
        margin: auto;
        margin-bottom: 1.5em;
        line-height: 1.4;
    }
    .caution{
        border:1px solid red;
        border-radius: 0.343em;
        padding: 0px 5px;
        background: red;
        color: white;
        font-size: 0.867rem;
    }

    .table-container{
        border: 1px solid rgb(66, 65, 65);
        border-radius: 0.343em;
        padding: 1.45em;
        background-color: #f7f7f7;
        display: inline-block; //to fit the content
        min-width: 100px;
        margin-bottom: 1.5em;
    }

    table.application-info{
        border-collapse: collapse;
        td{
            padding: 10px;
            text-align: left;
        }
        tr>td:first-child{
            font-weight: bold;
            color: #3d4e5e;
        }
       
    }

}