*{
    box-sizing:border-box;
}

label, p{
    margin:0;
    padding-top: 2px;
    padding-bottom:2px;
}

label{
    padding-left: 4px;
    padding-right:5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
    /* letter-spacing: 0.12rem; */
}

p{
    padding-left: 4px;
    padding-right:5px;
    font-family: "Courier New", Times, Monospace;
    font-size: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.margin-right{
    margin-right: 20px;
}

.fit-to-content{
    flex-basis: auto !important;
}

.auto-size{
    flex-grow: 1;
}

.flex{
    display: flex;
}

/* horizontally center */
.flex-center{
    justify-content: center;
}

/* vertically middle */
.flex-middle{
    align-items: center;
}

.text-center{
    text-align: center;
}

.border-all{
    border:1px solid rgb(140, 140, 140);
    
}

/* left right bottom border */
.border-lrb{
    border-left:1px solid rgb(140, 140, 140);
    border-right:1px solid rgb(140, 140, 140);
    border-bottom:1px solid rgb(140, 140, 140);
}

.border-left{
    border-left:1px solid rgb(140, 140, 140);
}


.border-right{
    border-right:1px solid rgb(140, 140, 140);
}

.border-bottom{
    border-bottom:1px solid rgb(140, 140, 140);
}

.fill{
    background-color: rgb(216, 216, 216);
}


#academic-education-table{
    width:100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#academic-education-table > thead{
    font-family: "Arial", Helvetica, serif;
    font-size: 12px;
}

#academic-education-table th:not(:first-child), #academic-education-table td:not(:first-child){
    text-align: center;
    border-left:1px solid black;
}

#academic-education-table > tbody{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

#academic-education-table td{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: center;
}

#academic-education-table > tbody > tr:nth-child(2n){
    background-color: rgba(216, 216, 216, 0.3);
}

#site-logo{
    width:60px;
}
#govt-info{
    font-family: "Arial", Helvetica, serif;
    font-size: 12px;
    padding-top: 16px;
    padding-left: 10px;
}

#department-info{
    font-family: "Arial", Helvetica, serif;
    font-size: 25px;
    padding-left: 10px;
}

#page-heading{
    font-size: 20px;
    text-align: center;
    width: 200px;
    margin:0 auto;
    border: 1px solid rgb(140, 140, 140);
    background-color:  rgb(216, 216, 216);
    font-family: "Arial", Helvetica, serif;

}
.photo-container{
    height: 168px;
    width: 168px;
    border-top: 1px solid rgb(140, 140, 140);
    border-right: 1px solid rgb(140, 140, 140);
    border-bottom: 1px solid rgb(140, 140, 140);
  
}

#signature{
    width:300px;
    height: 80px;
}

.fixed-container{
    width: 600px;
    margin: 0 auto;
}

.fixed-container .top{
    margin-bottom: 25px;
}

.fixed-container .bottom{
    margin-top: 25px;
}

.fixed-container>a{
    width: 50px;
    height: 20px;
    background-color: rgb(33, 167, 207);
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding:3px 10px;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}